doctype html
html(lang="en")
  head
    title Canvas-Game
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    link(rel="stylesheet" href="app.css")
    link(rel="icon" href="")
  body
    canvas#app
    script(src="main.js")
